.sec{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

.cont{
    height: 700px;
    width: 100%;
    background: #505050;
}

.cont1{
    padding: 25px;
    color: white;
    font-style: italic;

        #fotocro{
            height: 250px;
            width: auto;

        p{
            padding-top: 10px;
        }
    }
}

.cont2{
    padding: 25px;
    color: white;
    font-style: italic;

    #fotohomer{
        height: 250px;
        width: auto;
    }

    p{
        padding-top: 10px;
    }
}

.cont3{
    padding: 25px;
    color: white;
    font-style: italic;

    #fotofranky{
        height: 250px;
        width: auto;
    }

    p{
        padding-top: 10px;
    }
}

.cont4{
    padding: 25px;
    color: white;
    font-style: italic;

    #fotochulu{
        height: 250px;
        width: auto;
    }

    p{
        padding-top: 10px;
    }
}

.cont5{
    padding: 25px;
    color: white;
    font-style: italic;

    #fototroca{
        height: 250px;
        width: auto;
    }

    p{
        padding-top: 10px;
    }
}