.tour{

    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 0 0 7px black;
    font-size: 22px;
    align-items: center;

    ul{
        list-style: none;
        
        li{
            padding: 2px;
        }
    }

    a{
    margin-top: 3px;
    background-color: black;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: solid 3px black;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: white;
        color: black;
    }
    }
}