*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Principal */

.head{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    align-items: center;
}

.logo img{
    display: flex;
    height: 30px;
    width: auto;
}

ul li{
    display: flex;
    font-weight: 600;
    padding: 5px;
    padding-top: 10px;
    display: inline;
    text-transform: uppercase;
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    color: #505050;
}

main{
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(../Multimedia/fondo.jpg);
    background-position: center;
}

footer{
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    padding-top: 10px;
}

.redes i{
    color: white;
    font-size: 35px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
}

.redes i:hover{
    color: #505050
}

/* Inicio */

#main__index{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
}

.divnovedades{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.651);
    margin-left: 50px;
    padding: 20px;
    color: white;
    text-align: justify;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

#novedades{
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.call{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85%;
    height: 240px;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.781);
    border: 3px solid white;
    margin: 30px;
    padding: 30px;
}

.call p{
    margin-bottom: 20px;
}

#titulo__call{
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.call a{
    padding: 10px 10px;
    width: auto;
    background-color: black;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.call a:hover{
    background-color: white;
    color: black;
    font-weight: 600;
}

/* Historia */

.historia{
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
    margin-left: auto;
    margin-right: auto;
}

.titulo__historia{
    font-weight: 600;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
}

#resumen{
    font-style: italic;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.h3__historia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 0 5px black;
}

.videoclips{
    display: flex;
    justify-content: center;
}

.video{
    padding: 15px;
}

/* Artistas */

div .artistas{
    display: inline-block;
    margin-inline: 20px;
}

.artistas{
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    }

#cro{
    float: left;
    max-width: 450px;
    height: 500px;
    background-color: black;
    align-items: center;
    overflow: auto;
}

#cro p{
    text-align: center;
    color: white;
}

#fotocro{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 95%;
}

#homer{
    float: right;
    max-width: 450px;
    height: 500px;
    background-color: black;
    align-items: center;
    overflow: auto;
}

#fotohomer{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 95%;
}

#homer p{
    text-align: center;
    color: white;
}

/* Contacto */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    padding-top: 60px;
}

/* Tour */

.tour{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
    color: white;
    padding: 30px;
    text-shadow: 0 0 7px black;
    font-size: 20px;
}

.tour a{
    margin-top: 3px;
    background-color: black;
    color: white;
    padding: 3px;
    font-size: 14px;
    border: solid 3px black;
}