*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Principal */

.head{
    display: flex;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    min-height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 100%;
}

.logo img{
    display: flex;
    height: 30px;
    width: auto;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    display: flex;
    font-weight: 600;
    padding: 5px;
    padding-top: 10px;
    display: inline;
    text-transform: capitalize;
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    color: #505050;
}

main{
    height: 100vh;
    width: 100%;
    background-image: url(../Multimedia/fondo.jpg);
    background-position: center;
}

footer{
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
}

.redes i{
    color: white;
    font-size: 35px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
}

.redes i:hover{
    color: #505050
}

@media (max-width:761px){
    .head{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:526px){
    .head{
        flex-direction: column;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}

@media (max-width:380px){
    .head{
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        padding: 3px;
    }
}

@media (max-width:328px){
    .head{
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        padding: 3px;
    }
}

/* Inicio */

#main__index{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
}

.divnovedades{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.651);
    margin-left: 50px;
    padding: 20px;
    color: white;
    text-align: justify;
    border-left: 3px solid white;
    border-right: 3px solid white;
    overflow-y: scroll;
}

.divnovedades img{
    width: 95%;
    padding-block: 20px;
}

.divnovedades p{
    font-weight: 600;
}

#novedades{
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.call{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85%;
    height: 240px;
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.781);
    border: 3px solid white;
    margin: 30px;
    padding: 30px;
}

.call p{
    margin-bottom: 20px;
}

#titulo__call{
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.call a{
    padding: 10px 10px;
    width: auto;
    background-color: black;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.call a:hover{
    background-color: white;
    color: black;
    font-weight: 600;
}

@media (max-width:526px){
    #main__index{
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .call{
        margin: 10px;
        padding: 10px;
        width: 96%;
        height: auto;
    }

    .divnovedades{
        width: 96%;
        margin-left: 8px;
    }

    .call a{
        font-size: 13px;
    }
}

@media (max-width:379px){
    #main__index{
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .call{
        margin: 10px;
        padding: 10px;
        width: 96%;
        height: auto;
    }

    .divnovedades{
        width: 96%;
        margin-left: 8px;
    }

    .call a{
        font-size: 13px;
    }
}

/* Historia */

.historia{
    width: 100%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
    margin-left: auto;
    margin-right: auto;
}

.titulo__historia{
    font-weight: 600;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 5px black;
}

#resumen{
    font-style: italic;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.h3__historia{
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 0 5px black;
}

@media (max-width:379px){
    .titulo__historia{
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #resumen{
        font-size: 12px;
        padding: 10px;
        padding-top: 0;
    }
}

/* Artistas */

#artistas{
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 5px black;
    padding-top: 100px;
}

.fotos{
    display: flex;
    justify-content: center;
    color: white;
}

.artbard p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    padding-top: 5px;
}

#cromain{
    height: 200px;
    width: auto;
    padding-inline: 10px;
}

#homermain{
    height: 200px;
    width: auto;
    padding-inline: 10px;
}

#frankymain{
    height: 200px;
    width: auto;
    padding-inline: 10px;
}

#chulumain{
    height: 200px;
    width: auto;
    padding-inline: 10px;
}

#trocamain{
    height: 200px;
    width: auto;
    padding-inline: 10px;
}

.sec{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

section.cont{
    height: 700px;
    width: 100%;
    background: #505050;
}

#fotocro{
    height: 250px;
    width: auto;
}

.cont1{
    padding: 25px;
    color: white;
    font-style: italic;
}

.cont1 p{
    padding-top: 10px;
}

#fotohomer{
    height: 250px;
    width: auto;
}

.cont2{
    padding: 25px;
    color: white;
    font-style: italic;
}

.cont2 p{
    padding-top: 10px;
}

#fotofranky{
    height: 250px;
    width: auto;
}

.cont3{
    padding: 25px;
    color: white;
    font-style: italic;
}

.cont3 p{
    padding-top: 10px;
}

#fotochulu{
    height: 250px;
    width: auto;
}

.cont4{
    padding: 25px;
    color: white;
    font-style: italic;
}

.cont4 p{
    padding-top: 10px;
}

#fototroca{
    height: 250px;
    width: auto;
}

.cont5{
    padding: 25px;
    color: white;
    font-style: italic;
}

.cont5 p{
    padding-top: 10px;
}

@media (max-width:985px){
    .cont{
        overflow: auto;
    }
}

@media (max-width:379px){
    #fotocro{
        height: 100px;
        width: auto;
    }
    
    .cont1{
        overflow: auto;
        padding: 10px;
        color: white;
        font-style: italic;
    }
    
    .cont1 p{
        padding-top: 10px;
        font-size: 14px;
    }

    #fotohomer{
        height: 100px;
        width: auto;
    }
    
    .cont2{
        overflow: auto;
        padding: 10px;
        color: white;
        font-style: italic;
    }
    
    .cont2 p{
        padding-top: 10px;
        font-size: 14px;
    }

    #fotofranky{
        height: 100px;
        width: auto;
    }
    
    .cont3{
        overflow: auto;
        padding: 10px;
        color: white;
        font-style: italic;
    }
    
    .cont3 p{
        padding-top: 10px;
        font-size: 14px;
    }

    #fotochulu{
        height: 100px;
        width: auto;
    }
    
    .cont4{
        overflow: auto;
        padding: 10px;
        color: white;
        font-style: italic;
    }
    
    .cont4 p{
        padding-top: 10px;
        font-size: 14px;
    }

    #fototroca{
        height: 100px;
        width: auto;
    }
    
    .cont5{
        overflow: auto;
        padding: 10px;
        color: white;
        font-style: italic;
    }
    
    .cont5 p{
        padding-top: 10px;
        font-size: 14px;
    }
}

/* Contacto */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    padding-top: 60px;
}

/* Tour */

.tour{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: 0 0 7px black;
    font-size: 22px;
}

.tour a{
    margin-top: 3px;
    background-color: black;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: solid 3px black;
}

@media (max-width:526px){
    .tour{
        font-size: 18px;
        align-items: center;
    }

    .tour a{
        align-items: center;
        font-size: 13px;
    }
}